body {
	-webkit-text-stroke: 0.25px;
}

#inputBox {
	text-align: center;
}

#inputBox input {
	padding: .5em;
	font-size: 130%;
	margin-bottom: 50px;
	width: 35%;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

#container {
  margin-top: 5%;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

#output {
	margin-top: 40px;
	margin-bottom: 30px;
	text-align: center;
	display: none;
}

#intro-text {
	margin: 25px 5px 15px 5px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  text-align: center;
}

#keyword {
  color: black;
}

#output {
	font-family: arial, sans-serif;
}

/* Insights Page */

.subnav li.active {
	text-decoration: underline;
}

/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 980px) {
  .subnav-fixed {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
    border-color: #d5d5d5;
    border-width: 0 0 1px; /* drop the border on the fixed edges */
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
       -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
            box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); /* IE6-9 */
  }
  .subnav-fixed .nav {
    width: 938px;
    margin: 0 auto;
    padding: 0 1px;
  }
  .subnav .nav > li:first-child > a,
  .subnav .nav > li:first-child > a:hover {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
  }
}


/* @group left */
#userStats { display: block; width: auto; background-color: #f9f9f9; border: 1px solid #ccc; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; padding: 12px; margin-top: 5%;}

#userStats .pic { float: left; display: block; margin-right: 10px;}
#userStats .pic img { padding: 7px; background: #fff; border: 1px solid #ccc; }

#userStats img.hover { padding: 7px; background: #0c0; border: 1px solid #0c0; }


#userStats .data { display: block; position:  relative; padding: 4px; padding-left: 15px; overflow:  hidden; box-sizing: border-box; -moz-box-sizing: border-box; }
#userStats .data h1 { color: #474747; line-height: 1.6em; text-shadow: 0px 1px 1px #fff; }
#userStats .data h3 { color: #666; line-height: 0.9em; margin-bottom: 5px; }
#userStats .data h4 { font-size: 1.2em; }
#userStats .data .contact-header { font-size: 20px; }

#userStats .data .sep { clear: both; margin-top: 30px; width: 320px; height: 1px; border-bottom: 1px solid #ccc; margin-bottom: 10px; }
#userStats .data ul.numbers { list-style: none; width: 320px; padding-top: 7px; margin-top: 0; border-top: 1px solid #fff; color: #676767; }
#userStats .data ul.numbers li { width: 95px; float: left; display: block; padding-left: 8px; height: 50px; border-right: 1px dotted #bbb; text-transform: uppercase; }
#userStats .data ul.numbers li strong { color: #434343; display: block; font-size: 3.4em; line-height: 1.1em; font-weight: bold; }


/* tables */
#results tr {
  cursor: pointer;
}

#results {
  margin-bottom: 50px;
}

#results tbody tr.even:hover, #example tbody tr.even td.highlighted {
	background-color: #ECFFB3;
}

#results tbody tr.odd:hover, #example tbody tr.odd td.highlighted {
	background-color: #E6FF99;
}

#results tr.even:hover {
	background-color: #ECFFB3;
}

#results tr.even:hover td.sorting_1 {
	background-color: #DDFF75;
}

#results tr.even:hover td.sorting_2 {
	background-color: #E7FF9E;
}

#results tr.even:hover td.sorting_3 {
	background-color: #E2FF89;
}

#results tr.odd:hover {
	background-color: #E6FF99;
}

#results tr.odd:hover td.sorting_1 {
	background-color: #D6FF5C;
}

#results tr.odd:hover td.sorting_2 {
	background-color: #E0FF84;
}

#results tr.odd:hover td.sorting_3 {
	background-color: #DBFF70;
}