#inputBox {
	text-align: center;
}

#inputBox input {
	padding: .5em;
	font-size: 130%;
	margin-bottom: 50px;
	width: 35%;
}

.info_chart {
  width: 100%;
}

#container {
  margin-top: 10%;
}

#output {
	margin-top: 40px;
	margin-bottom: 30px;
	text-align: center;
	display: none;
}

h2 {
	margin: 25px 5px 15px 5px;
  font-family: 'Puritan', 'Trebuchet MS', Helvetica, sans-serif;
  text-align: center;
}

#keyword {
  color: black;
}

#results {
	margin-left: auto;
	margin-right:auto;
	-webkit-transition: opacity .1s ease-in;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

#output {
	font-family: arial, sans-serif;
}

#qr {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  text-align: center;
}

#footer {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  margin-top: 50px;
  text-align: center;
  font-size: 80%;
  clear: left;
}

/* Details View */
#results div.arrow { 
  background:transparent url(arrows.png) no-repeat scroll 0px -16px; 
  width:16px; 
  height:16px; 
  display:block;
}

#results div.up { 
  background-position:0px 0px;
}

#results img { 
  float:right;
}

#results h4 {
  margin:0px; 
  padding:0px;
}

/* tables */
table.tablesorter {
	font-family:arial, sans-serif;
	background-color: #CDCDCD;
	margin: 10px 0px 15px;
	text-align: left;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	padding: 10px;
	text-align: center;
}

table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}

table tr:hover {
  background-color: #CCC;
}