#inputBox {
	text-align: center;
}

#inputBox input {
	width: 100%; 
	padding: .25em;
	font-size: 130%;
	margin-bottom: 50px;
}

#container {
  margin-top: 15%;
}

#output {
	margin-top: 40px;
	margin-bottom: 30px;
	text-align: center;
	display: none;
}

.full_width {
	margin: 25px 5px 15px 5px;
	font-size: 350%;
	font-family: 'Puritan', 'Trebuchet MS', Helvetica, sans-serif;
	text-align: center;
}

#results {
	margin-left: auto;
	margin-right:auto;
	width: 100%;
}

#output {
	font-family: arial, sans-serif;
}

#qr {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  text-align: center;
}

#footer {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  margin-top: 50px;
  text-align: center;
  font-size: 80%;
}

/* tables */
table.tablesorter {
	font-family:arial, sans-serif;
	background-color: #CDCDCD;
	margin: 10px 0px 15px;
	text-align: left;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	padding: 10px;
	text-align: center;
}

table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}

table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
	padding: 15px;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}

table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}