{% extends "base.html" %}
{%block title %}RPI Directory Stats{% endblock %}

{% block add_head %}
		<style type="text/css">
		  .chart {
		    height: 500px;
		    width: 50%;
		    float: left;
		  }
		
			#footer {
        font-family: 'Trebuchet MS', Helvetica, sans-serif;
        margin-top: 50px;
        text-align: center;
        font-size: 80%;
      }
		 </style>
<script type="text/javascript" language="javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<!--Load the AJAX API-->
		    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
		    <script type="text/javascript">
		
		      // Load the Visualization API and the piechart package.
		      google.load('visualization', '1.0', {'packages':['corechart']});

		      // Callback that creates and populates a data table, 
		      // instantiates the pie chart, passes in the data and
		      // draws it.
		      function drawMemCacheChart(hits, misses) {

		        // Create the data table.
  		      var data = new google.visualization.DataTable();
  		      data.addColumn('string', 'Title');
  		      data.addColumn('number', 'Amount');
  		      data.addRows([
  		        ['Hits', hits],
  		        ['Misses', misses],
  		      ]);

  		      // Set chart options
  		      var options = {'title':'MemCache Statistics'};

  		      // Instantiate and draw our chart, passing in some options.
  		      var chart = new google.visualization.PieChart(document.getElementById('memcache_stats'));
  		      chart.draw(data, options);
		    }
		    
		    function drawMajorsChart() {

	        // Create the data table.
		      var data = new google.visualization.DataTable();
		      data.addColumn('string', 'Major');
		      data.addColumn('number', 'Amount');
		      data.addRows([
		        {% for major in list_of_majors %}
		          ['{{ major.0 }}', {{ major.1 }}],
		        {% endfor %}
		      ]);

		      // Set chart options
		      var options = {'title':'Top {{ list_of_majors|length }} Majors at RPI'};

		      // Instantiate and draw our chart, passing in some options.
		      var chart = new google.visualization.PieChart(document.getElementById('major_stats'));
		      chart.draw(data, options);
	    }
	    
	    function drawClassesChart() {

        // Create the data table.
	      var data = new google.visualization.DataTable();
	      data.addColumn('string', 'Class');
	      data.addColumn('number', 'Amount');
	      data.addRows([
	        {% for class in list_of_classes %}
	          ['{{ class.0 }}', {{ class.1 }}],
	        {% endfor %}
	      ]);

	      // Set chart options
	      var options = {'title':'Breakdown of Student Body'};

	      // Instantiate and draw our chart, passing in some options.
	      var chart = new google.visualization.PieChart(document.getElementById('class_stats'));
	      chart.draw(data, options);
    }
    
    function drawFacultyChart() {

      // Create the data table.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Department');
      data.addColumn('number', 'Amount');
      data.addRows([
        {% for class in list_of_faculty %}
          ['{{ class.0 }}', {{ class.1 }}],
        {% endfor %}
      ]);

      // Set chart options
      var options = {'title':'Top {{ list_of_faculty|length }} Faculty/Staff  Departments'};

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.PieChart(document.getElementById('faculty_stats'));
      chart.draw(data, options);
  }
  
  function drawFirstNameChart() {

    // Create the data table.
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'First Name');
    data.addColumn('number', 'Total');
    data.addRows([
      {% for class in list_of_first_names %}
        ['{{ class.0 }}', {{ class.1 }}],
      {% endfor %}
    ]);

    // Set chart options
    var options = {'title':'Top {{ list_of_first_names|length }} First Names'};

    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.PieChart(document.getElementById('first_name_stats'));
    chart.draw(data, options);
}


function drawLastNameChart() {

  // Create the data table.
  var data = new google.visualization.DataTable();
  data.addColumn('string', 'Last Name');
  data.addColumn('number', 'Amount');
  data.addRows([
    {% for class in list_of_last_names %}
      ['{{ class.0 }}', {{ class.1 }}],
    {% endfor %}
  ]);

  // Set chart options
  var options = {'title':'Top {{ list_of_last_names|length }} Last Names'};

  // Instantiate and draw our chart, passing in some options.
  var chart = new google.visualization.PieChart(document.getElementById('last_name_stats'));
  chart.draw(data, options);
}

{% if list_of_ips %}
function drawSearchedFirstNameChart() {

  // Create the data table.
  var data = new google.visualization.DataTable();
  data.addColumn('string', 'First Name');
  data.addColumn('number', 'Amount');
  data.addRows([
    {% for class in list_of_searched_first_names %}
      ['{{ class.0 }}', {{ class.1 }}],
    {% endfor %}
  ]);

  // Set chart options
  var options = {'title':'Top {{ list_of_searched_first_names|length }} Searched First Names'};

  // Instantiate and draw our chart, passing in some options.
  var chart = new google.visualization.PieChart(document.getElementById('searched_first_names_stats'));
  chart.draw(data, options);
}

function drawSearchedLastNameChart() {

  // Create the data table.
  var data = new google.visualization.DataTable();
  data.addColumn('string', 'Last Name');
  data.addColumn('number', 'Amount');
  data.addRows([
    {% for class in list_of_searched_last_names %}
      ['{{ class.0 }}', {{ class.1 }}],
    {% endfor %}
  ]);

  // Set chart options
  var options = {'title':'Top {{ list_of_searched_last_names|length }} Searched  Last Names'};

  // Instantiate and draw our chart, passing in some options.
  var chart = new google.visualization.PieChart(document.getElementById('searched_last_names_stats'));
  chart.draw(data, options);
}

function drawIPChart() {

  // Create the data table.
  var data = new google.visualization.DataTable();
  data.addColumn('string', 'IP Address');
  data.addColumn('number', 'Amount');
  data.addRows([
    {% for class in list_of_ips %}
      ['{{ class.0 }}', {{ class.1 }}],
    {% endfor %}
  ]);

  // Set chart options
  var options = {'title':'Top {{ list_of_ips|length }} Active IP Addresses'};

  // Instantiate and draw our chart, passing in some options.
  var chart = new google.visualization.PieChart(document.getElementById('ip_stats'));
  chart.draw(data, options);
}

{% endif %}

		  $(document).ready(function() {
			  drawMemCacheChart({{ memcache.hits }}, {{ memcache.misses }});
			  drawMajorsChart();
			  drawClassesChart();
			  drawFacultyChart();
			  drawFirstNameChart();
			  drawLastNameChart();
			  {% if list_of_ips %}
			  //drawSearchedFirstNameChart();
			  //drawSearchedLastNameChart();
			  drawIPChart();
			  {% endif %}
			  
		  });
		</script>
{% endblock %}

{% block content %}
	    <h1>RPI Directory Stats</h1>
		  <div id="major_stats" class="chart"></div>
		  <div id="faculty_stats" class="chart"></div>
		  <div id="first_name_stats" class="chart"></div>
		  <div id="last_name_stats" class="chart"></div>
		  <div id="class_stats" class="chart"></div>
		  <div id="memcache_stats" class="chart"></div>
		  {% if list_of_ips %}
		  <!--<div id="searched_first_names_stats" class="chart"></div>
		  <div id="searched_last_names_stats" class="chart"></div>-->
		  <div id="ip_stats" class="chart"></div>
		  {% endif %}
{% endblock %}