{% extends "base.html" %}

{% block content %}
<div id="container" class="container-fluid">
  {% if person %}
  <div class="row-fluid">
    <div class="span6 offset3">
      <div id="userStats" class="clearfix">
      				<div class="pic">
      					<a href="#">
      					  {% if person.picture %}
      					  <img src="img/user_avatar.jpg" width="150" height="150">
      					  {% else %}
      					  <img src="https://s3-eu-west-1.amazonaws.com/assimbli/unknown_profile.jpg" width="150" height="150">
      					  {% endif %}
      					</a>
      				</div>

      				<div class="data">
      					<h1>{{person.first_name.title}} {{person.last_name.title}}</h1>
      					<h3>{% firstof person.year.title person.title.title %}</h3>
      					<h4>{% firstof person.major.title person.department.title %}</h4>
      					<div class="sep"></div>
      					<h4>
      					  <span class="contact-header">Email:</span>
      					  {{person.email}}
      					</h4>
      					<h4>
      					  <span class="contact-header">Phone:</span>
      					  {% firstof person.phone "N\A" %}
      					</h4>
      					<h4>
      					  <span class="contact-header">Office:</span>
      					  {% firstof person.office_location.title "N\A" %}
      					</h4>
      					<h4>
      					  <span class="contact-header">Mailing Address:</span><br>
      					  {% firstof person.mailing_address_html.title "N\A" %}
      					</h4>
      				</div>
      </div>
  </div>
  {% else %}
  <h2 id="intro-text">
    RCS ID {{rcs_id}} not found...
  </h2>
  {% endif %}
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$(document).ready(function() {
  $('#results').dataTable({
    "sDom": 'rt',
  });
});
</script>
{% endblock %}