{% extends "html/base.html" %}
<div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class="container" style="width: auto;">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Project name</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-search pull-left" action="">
            <input type="text" class="search-query span2" placeholder="Search">
          </form>
          <ul class="nav pull-right">
            <li><a href="#">Link</a></li>
            <li class="divider-vertical"></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div>
    </div><!-- /navbar-inner -->
  </div>
{% block content %}
<div id="container" class="container-fluid">
	{% for item in stats %}
	{% if loop.index0 is divisibleby 1 %}
  <div class="row-fluid">
	{% endif %}
    <div class="span12">
      <div id="chart_{{loop.index}}"></div>
    </div>
	{% if loop.index is divisibleby 1 %}
  </div>
	{% endif %}
	{% endfor %}
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawCharts);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawCharts() {
      // Create the data table.
			{% for item in stats %}
        var data_{{loop.index}} = new google.visualization.DataTable();
        data_{{loop.index}}.addColumn('string', 'Category');
        data_{{loop.index}}.addColumn('number', 'Amount');
        data_{{loop.index}}.addRows([
					{% for data_point, amount in item.data|dictsort(false, 'value') %}
					{% if amount > 3 %}["{{data_point.title()}}", {{amount}}],{% endif %}
					{% endfor %}
        ]);

        // Set chart options
        var options_{{loop.index}} = {'title': '{{item.title}}', 
																			'height': 500, 
																			'pieSliceText': 'value',
																		  'tooltip' : {'text': 'value'},
																		  'reverseCategories': true,
																			'legend': {'position': 'none'}};

        // Instantiate and draw our chart, passing in some options.
        var chart_{{loop.index}} = new google.visualization.ColumnChart(document.getElementById('chart_{{loop.index}}'));
        chart_{{loop.index}}.draw(data_{{loop.index}}, options_{{loop.index}});
			{% endfor %}
      }
    </script>
<script type="text/javascript">
$(document).ready(function() {});
</script>
{% endblock %}