{% extends "html/base.html" %}
{% block content %}
<div id="container" class="container-fluid">
	<div id="subnav-charts" class="subnav subnav-fixed">
	    <ul class="nav nav-pills">
				{% for item in stats %}
	      <li><a href="#{{item.title.replace(' ', '-')}}">{{item.title}}</a></li>
				{% endfor %}
	    </ul>
	</div>
	{% for item in stats %}
	{% if loop.index0 is divisibleby 1 %}
  <div class="row-fluid">
	{% endif %}
	<section id="{{item.title.replace(' ', '-')}}" style="padding-top: 100px">
    <div class="span12" style="height: {{chart_height}}px">
      <div id="chart_{{loop.index}}"></div>
    </div>
	</section>
	{% if loop.index is divisibleby 1 %}
  </div>
	<br>
	{% endif %}
	{% endfor %}
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="/js/jquery.scrollTo.min.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawCharts);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawCharts() {
      // Create the data table.
			{% for item in stats %}
        var data_{{loop.index}} = new google.visualization.DataTable();
        data_{{loop.index}}.addColumn('string', 'Category');
        data_{{loop.index}}.addColumn('number', 'Amount');
        data_{{loop.index}}.addRows([{% for data_point, amount in item.data %}["{{data_point.title()}}", {{amount}}],{% endfor %}]);

        // Set chart options
        var options_{{loop.index}} = {'title': '{{item.title}}', 
																			'height': {{chart_height}}, 
																			'pieSliceText': 'value',
																		  'tooltip' : {'text': 'value'},
																			'legend': {'position': 'none'},
																			'vAxis': {'title': 'Number of People',
																								'textStyle': {'fontName': 'News Cycle', 'fontSize': 20},
																							  'titleTextStyle': {'fontName': 'News Cycle', 'fontSize': 25}},
																			'hAxis' : {'textStyle': {'fontName': 'News Cycle', 'fontSize': 17}},
																			'tooltip' : {'textStyle': {'fontName': 'News Cycle', 'fontSize': 20}},
																			'titleTextStyle': {'fontName': 'News Cycle', 'fontSize': 50}};

        // Instantiate and draw our chart, passing in some options.
        var chart_{{loop.index}} = new google.visualization.ColumnChart(document.getElementById('chart_{{loop.index}}'));
        chart_{{loop.index}}.draw(data_{{loop.index}}, options_{{loop.index}});
			{% endfor %}			
      }
    </script>
<script type="text/javascript">
$(document).ready(function() {
	$('#subnav-charts').scrollspy();
	$('#insights-nav').addClass('active');
});

$('#subnav-charts ul li a').bind('click', function(e) {
	e.preventDefault();
  target = this.hash;
  console.log(target);
  $.scrollTo(target, 1000);
});

</script>
{% endblock %}