{% extends "html/base.html" %}

{% block content %}
<div id="container" class="container-fluid">
				<div class="row-fluid">
					<div class="span12"> 
            <center>
              <h1>Under Construction</h1>
              <img src="http://fc02.deviantart.net/fs45/f/2009/136/d/4/under_construction_by_devi007.jpg">
              <h3>The bug has been fixed.  We're currently rebuilding our index which is {{per_c}}% complete.  <br>
                  Once it's 100% complete we'll be bringing the site back online.<br>
                  Thanks for your patience.</h3>
            </center>
					</div>
				</div>
{% endblock %}