{% extends "html/base.html" %}

{% block content %}
<div id="container" class="container-fluid">
				<div class="row-fluid">
					<div class="span12"> 
            <center>
              <h1>Under Construction</h1>
              <img src="http://fc02.deviantart.net/fs45/f/2009/136/d/4/under_construction_by_devi007.jpg">
              <h3>RPI Directory is currently disabled to a <a style="color: blue" href="https://code.google.com/p/googleappengine/issues/detail?id=8958">bug</a> in App Engine's search functionality.<br>  Please <a style="color: blue" href="https://code.google.com/p/googleappengine/issues/detail?id=8958">visit</a> the bug and star the issue so it gets resolved quickly.  <br>We appreciate your patience and we'll be back online as soon as it's resolved.</h3>
            </center>
					</div>
				</div>
{% endblock %}