{% extends "base.html" %}

{% block content %}
<div id="container" class="container-fluid">
  <div class="row-fluid">
    <div class="span4">
      <div id="activated_chart"></div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'People');
        data.addColumn('number', 'Status');
        data.addRows([
          ['Not Claimed', {{unclaimed}}],
          ['Claimed', {{number_claimed}}]
        ]);

        // Set chart options
        var options = {'title':'Profiles Claimed',
                       'width':400,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('activated_chart'));
        chart.draw(data, options);
      }
    </script>
<script type="text/javascript">
$(document).ready(function() {});
</script>
{% endblock %}